{% extends 'layout.html' %}
{%block title%}Charts{%endblock%}


{% block content %}
<div class="content d-flex justify-content-center">
{{block.super}}
<div class="row container py-4">
  <h1>Stores chart</h1>
    <div class="col-12 bg-dark grayChart  mb-4">
        {{barAmountByCountry|safe}}
    </div>
<div class="row container justify-content-between py-4">
   <div class="col-6  mb-4 card-blue">
        {{pieTopJP|safe}}
    </div>
    <div class="col-6 mb-4 card-green ">
        {{pieTopMX|safe}}
    </div>
  </div>
   

  </div>
 
  
<div>
  {%endblock%}