{% extends 'layout.html' %}
{%block title%}Home{%endblock%}

{% block content %}
{{block.super}}

<div class="columns is-mobile is-centered container py-4">
  {% comment %} {{stores|safe}} {% endcomment %}
  <h1>Home</h1>
  {% comment %} {{dir(stores)}} {% endcomment %}
    

    <div class="p-5 mb-4 bg-light ">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">H&M Studio A/W 2022</h1>
        <p class="col-md-8 fs-4">Fabulously multitalented and supremely stylish, the dynamic sibling duo Joel and Georgia Palmer are a fierce creative force. The two started out as models and actors but have followed their passions into DJing, styling, photography and creative direction, and the energy they bring to their many projects is undeniably electric. We had the pleasure of talking to them about creativity, style and how they brought the H&M Studio A/W 2022 collection to life.</p>
        <button class="btn btn-dark btn-lg" type="button">Read the story</button>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 card-trending ">
          <h2>MENSWEAR TRENDS AUTUMN '22</h2>
          <p>From varsity prep and '90s fits to rugged workwear, H&M Man has gathered the top nine menswear moves you want to make this season. For all the 42 key looks, visit the new fall lookbook destination.</p>
          <image width="350px" class="card-image" src="https://lp2.hm.com/hmgoepprod?set=width[320],quality[80],options[limit]&source=url[https://www2.hm.com/content/dam/h-m-magazine-2022/august_2022/3186/3086-Editorial-Lookbook-Magazine-Splash-Image.jpg]&scale=width[global.width],height[15000],options[global.options]&sink=format[jpg],quality[global.quality]">
          <div class="row">
               <button class="btn btn-outline-dark mt-3" type="button">Read the story</button>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 card-trending ">
          <h2>H&M Move invites the whole world to move</h2>
          
          <p>New brand H&M Move, launching worldwide August 4, is embarking on a bold mission to democratize sportswear and get the whole world and every body moving, however they move. </p>
          <image width="320px" class="card-image" src="https://lp2.hm.com/hmgoepprod?set=width[320],quality[80],options[limit]&source=url[https://www2.hm.com/content/dam/h-m-magazine-2022/august_2022/2006/2006-1-Magazine-Article-Top-image-1688x1126-jpg.jpg]&scale=width[global.width],height[15000],options[global.options]&sink=format[jpg],quality[global.quality]">
            <div class="row">
               <button class="btn btn-outline-dark mt-3" type="button">Read the story</button>
            </div>
         
        </div>
      </div>
    </div>
  </div>
  {{models.StoresManager}}

{% endblock %}