{% extends 'layout.html' %}
{%block title%}K-means{%endblock%}


{% block content %}
<div class="container-xxl">
{{block.super}}
  <h1>Add k-mean</h1>
      <div class="  py-3">
        <div class="bg-light border rounded-3 row d-flex justify-content-between">
             <div  class="col-9 " >
              {% comment %} {{map|safe}} {% endcomment %}
              
                {% if not clusterMap %}
                <div class="d-flex align-items-center justify-content-center h-100 w-100">
                  <h4 class="text-center text-danger">Select a cluster settings to display here</h4>
                </div>
                {% else %}
                <div  id="mapKmeans">
                {{clusterMap|safe}}
                </div>
                {% endif %}
                {% comment %} {{clusterMap|message}} {% endcomment %}
              
            </div>
            <div class="bg-light border rounded-3 col-3">
            <form action="/kmeans/add/" method="POST">
              {% csrf_token %}
              <h1>K-Means</h1>
              {% comment %} <div class="form-outline my-4">
                <label class="form-label" for="form6Example6">Clusters number</label>
                <input type="number" id="form6Example6" class="form-control" />
              </div> {% endcomment %}
              <div class="form-outline mb-4">
                <label class="form-label" for="title">Title of trained model</label>
                <input type="text" id="title" name="title" class="form-control" />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="tolerance">Tolerance</label>
                <input type="number" id="tolerance" name="tolerance" step="0.00000000001" class="form-control" />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="numIterations">Number of iterations</label>
                <input type="number" id="numIterations" name="numIterations" class="form-control" />
              </div>
              <div hidden class="form-outline mb-4">
                <label class="form-label" for="dispersion">Dispersion</label>
                <input type="number" id="dispersion" name="dispersion" step="0.00000000001"  class="form-control" />
              </div>
              <div class="row px-4 d-flex justify-content-center">
                <button type="submit" class="btn btn-dark btn-block mb-4 col-6">Train model</button>
              </div>
              
            </form>
            <form action="/kmeans/display/" method="POST">
              {% csrf_token %}
              <label class="form-label" for="titleSet">Display clusters</label>
              <select class="form-select" name="id" aria-label="Select a cluster">
                <option disabled selected>-Select k-means params-</option>
                {% for kmean in k_means %}
                 <option value="{{kmean.id}}">{{kmean.titleCluster}}</option>
                {% endfor %}
              </select>
              <div class="row px-4  d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-dark btn-block mb-4 col-6">Display</button>
              </div>
            </form>
        </div>
        </div>
        
      </div>
      
<div>
   <script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
<script>

(async function getLocations(){


})()

</script>
  {%endblock%}