{% extends 'layout.html' %}
{%block title%}Metrics{%endblock%}


{% block content %}
<div class="content">
{{block.super}}
  <div class="columns is-mobile is-centered container py-4">
  <h1>Metrics</h1>
    <div class="row align-items-md-stretch mt-4">
      <div class="col-md-12">
        <div class="h-100 p-5 bg-dark text-white rounded-3">
          <h2>Average number of stores per city</h2>
          <p>{{mean}}</p>
        </div>
      </div>
    </div>
    <div class="row align-items-md-stretch mt-4">
      <div class="col-md-8">
        <div class="h-100 p-5 card-most rounded-3">
          <h2>TOP 5 Countries with most stores</h2>
          <ol class="list-items">
          {% for item in countriesMost %}
            <li>{{item.country}} <strong>({{item.amount}})</strong></li>
          {% endfor %}
          </ol>
        </div>
      </div>
      <div class="col-md-4">
        <div class="h-100 p-5 card-few border rounded-3">
          
          <h3>TOP 5 Countries with fewest stores</h3>
          <ol class="list-items">
          {% for item in countriesFewest %}
            <li>{{item.country}} <strong>({{item.amount}})</strong></li>
          {% endfor %}
          </ol>
           
        </div>
      </div>
    </div>


    <div class="row align-items-md-stretch mt-4">
     
      <div class="col-md-7">
        <div class="h-100 p-5 card-few border rounded-3">
          <h3>TOP 5 Cities with fewest stores</h3>
          <ol class="list-items">
          {% for item in cityMost %}
            <li>{{item.city}} <strong>({{item.amount}})</strong></li>
          {% endfor %}
          </ol>
        </div>
      </div>
       <div class="col-md-5">
        <div class="h-100 p-5 card-most rounded-3">
          <h2>TOP 5 Cities with most stores</h2>
          <ol class="list-items">
          {% for item in cityFew %}
            <li>{{item.city}} <strong>({{item.amount}})</strong></li>
          {% endfor %}
          </ol>
        </div>
      </div>

      
    </div>
  </div>
<div>
  {%endblock%}