<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img width="40" src="https://upload.wikimedia.org/wikipedia/commons/5/53/H%26M-Logo.svg" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div id="navItems" class="navbar-nav">
        <a  class="nav-link fw-semibold" aria-current="page" href="/">Home</a>
        <a class="nav-link fw-semibold" href="/locations">Locations</a>
        <a class="nav-link fw-semibold" href="/metrics">Metrics</a>
        <a class="nav-link fw-semibold"  href="/charts">Charts</a>
      </div>
    </div>
  </div>
</nav>