{% extends 'layout.html' %}
{%block title%}Populations{%endblock%}


{% block content %}
<div class="container-xxl">
{{block.super}}
  <h1>Populations</h1>
      <div class="  py-3">
        <div class="bg-light rounded-3 row d-flex justify-content-between">
            <div  id="map1" class="col-3 "></div>
            <div  id="map2" class="col-3 "></div>
            <div id="map3" class="col-3 "></div>
            <div class="bg-light border rounded-3 col-3">
            <form action="/population/add/" method="POST">
              {% csrf_token %}
              <div class="form-outline my-4">
                <label class="form-label" for="longitudeRange">Longitude range</label>
                <input type="number" id="longitudeRange" name="longitudeRange" class="form-control" />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="latitudeRange">Latitude range</label>
                <input type="number" id="latitudeRange" class="form-control" />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="samplesNumber">Number of samples</label>
                <input type="number" id="samplesNumber" name="samplesNumber" class="form-control" />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="dispersion">Dispersion</label>
                <input type="number" id="dispersion" name="dispersion" class="form-control" />
              </div>
              <div class="row px-4 d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-dark btn-block mb-4 col-6">Confirm</button>
              </div>
              <div class="row px-4  d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-dark btn-block mb-4 col-6">Add</button>
              </div>
              
            </form>
        </div>
        </div>
        
      </div>
      
<div>
  {%endblock%}