{% extends 'layout.html' %}
{%block title%}Populations{%endblock%}


{% block content %}
<div class="container-xxl">
{{block.super}}
  <h1>Populations</h1>
      <div class="  py-3">
        <div class="bg-light rounded-3 row d-flex justify-content-between">
            {% comment %} <div  id="map1" class="col-7 "></div> {% endcomment %}
            <div  class="col-7 " >
              {% comment %} {{map|safe}} {% endcomment %}
              <div style="width: 100%; height:75vh;" id="mapPopulations"></div>
            </div>
            
            <div class="bg-light border rounded-3 col-5">
            <form action="/populations/add/" method="POST">
              {% csrf_token %}
              <div class="form-outline mb-4">
                <label class="form-label" for="titleSet">Title of set</label>
                <input type="text" id="titleSet" name="titleSet" class="form-control" />
              </div>
              <div class="form-outline mb-4 row">
                <div class="col-5">
                  <label class="form-label" for="latitudeRangeMax">Max latitude limit</label>
                <input type="number"  step="0.00000000001" id="latitudeRangeMax" name="latitudeRangeMax" class="form-control" />
                </div>
                <div class="col-5">
                <label class="form-label" for="latitudeRangeMin">Min latitude limit</label>
                <input type="number"  step="0.00000000001" id="latitudeRangeMin" name="latitudeRangeMin" class="form-control" />
                </div>
                
              </div>
              <div class="form-outline mb-4 row">
                <div class="col-5">
                  <label class="form-label" for="longitudeRangeMax">Max longitude limit</label>
                <input type="number"  step="0.00000000001" id="longitudeRangeMax" name="longitudeRangeMax" class="form-control" />
                </div>
                <div class="col-5">
                  <label class="form-label" for="longitudeRangeMin">Min longitude limit</label>
                  <input type="number"  step="0.00000000001" id="longitudeRangeMin" name="longitudeRangeMin" class="form-control" />
                </div>
                
              </div>
             
              <div class="form-outline my-4">
                
              </div>
           
              <div class="form-outline mb-4">
                <label class="form-label" for="samplesNumber">Number of samples</label>
                <input type="number" id="samplesNumber" name="samplesNumber" class="form-control" />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="dispersion">Dispersion</label>
                <input type="number" step="0.00001" id="dispersion" name="dispersion" class="form-control" />
              </div>
              <div class="row px-4 d-flex justify-content-center">
                <button type="submit" class="btn btn-outline-dark btn-block mb-4 col-6">Add cluster</button>
              </div>
              
              
            </form>
            <form  method="POST" id="displayPopulation">
              {% csrf_token %}
              <label class="form-label" for="titleSet">Display cluster</label>
              <select class="form-select" id="clusterId" name="cluster" aria-label="Select a cluster">
                <option disabled selected>-Select a population-</option>
                {% for population in populations %}
                 <option value="{{population.id}}">{{population.titleSet}}</option>
                {% endfor %}
              </select>
              <div class="row px-4  d-flex justify-content-center">
                <button  type="submit" class="btn btn-outline-dark btn-block mb-4 col-6">Display</button>
              </div>
            </form>
        </div>
        </div>
        
      </div>
      
<div>
  {% comment %} <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' /> {% endcomment %}
       <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
       <script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>

<script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script> 
<script>
//var map = L.map('mapPopulations').setView([32, 32], 6);
  //var map = L.map('mapPopulations').setView([32, 32], 6);


  //var form = document.querySelector('#displayPopulation').addEventListener('submit', handleSubmit)
 
// map && map.remove()
const form = document.querySelector('#displayPopulation');
const mapDiv = document.querySelector('#mapPopulations');
window.addEventListener('load', () => {
  form.addEventListener('submit', handleForm);
});


function handleForm(e){
    e.preventDefault();

    //validate
    const id = document.querySelector('#clusterId').value;


    //consult the API
    getCluster(id);
}

function getCluster(id){

  const URL = `http://127.0.0.1:8000/population/${id}/`;

  fetch(URL)
    .then( response => response.json())
    .then( result => {

      

      //removeMap();

      //print result in HTML
      showMap(result);
    })

}


function showMap(data){
  mapDiv.innerHTML ="<div id='map' style='width: 100%; height: 100%;'></div>"
var map = L.map('map').setView([data[0].lat[1], data[0].lng[1]], 10);
   

L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
  maxZoom: 20,
  attribution: '© Yorch maps'
}).addTo(map);

const markers1 = data;




    var polygon1 = turf.polygon([[
        [128, -26],
        [141, -26],
        [141, -21],
        [128, -21],
        [128, -26]
    ]], {
        "fill": "#F00",
        "fill-opacity": 0.1
    });

    // var polyGeojson = L.geoJSON(polygon1).addTo(map)

    var polygon2 = turf.polygon([[
        [126, -28],
        [140, -28],
        [140, -20],
        [126, -20],
        [126, -28]
    ]], {
        "fill": "#00F",
        "fill-opacity": 0.1
    });

    var polyGeojson2 = L.geoJSON(polygon2).addTo(map)


   // var difference = turf.difference(polygon1, polygon2);

   // var diffGeojson = L.geoJSON(difference).addTo(map)

    // map.fitBounds(diffGeojson.getBounds())


///

var markers = L.markerClusterGroup();
console.log(markers1[0].lat)
markers1[0].lat.forEach((element, index) => { 
let dataPopUp = `
<b>${data[0].title}</b>
<br>
<label>Lat: ${element}, Lng: ${markers1[0].lng[index]}</label>`


  var marker = L.marker([element, markers1[0].lng[index]]);
  marker.bindPopup(dataPopUp).openPopup();
  markers.addLayer(marker);
})

map.addLayer(markers);
}

function removeMap(){
  while(mapDiv.firstChild){
    mapDiv.className = "";
    mapDiv.removeChild(mapDiv.firstChild);
  }
}
    var polygon = turf.polygon([[[-81, 41], [-88, 36], [-84, 31], [-80, 33], [-77, 39], [-81, 41]]]);
    var center = turf.centerOfMass(polygon);




</script>
  {%endblock%}